body {
  background-color: #fdf4e3;
  font-family: "Calligraffitti", cursive;
}

.container {
  width: 600px;
  height: 550px;
  background-color: white;
  margin: 150px auto;
  padding: 50px 30px;
  border-radius: 30px;
  box-shadow: 0px 8px 8px 8px rgb(140, 146, 172, 0.1);
}

h1 {
  padding-bottom: 20px;
  font-size: 45px;
  padding-left: 10px;
}

form {
  background-color: #fdf4e3;
  padding: 40px 11px;
  border-radius: 10px;
  border-left: solid #ffb85d 3px;
}

input {
  padding: 10px;
}

label {
  font-size: 18px;
  padding-left: 6px;
}
.entry {
  width: 440px;
  border: none;
  border-radius: 10px;
}

.search {
  border: none;
  border-radius: 10px;
  color: black;
  width: 103px;
  font-family: "Calligraffitti", cursive;
  font-size: 15px;
}

.message {
  padding-top: 20px;
  text-align: center;
}
blockquote {
  line-height: 2;
  padding-top: 30px;
}
footer {
  text-align: center;
  color: #7f7f7f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  position: fixed;
  bottom: 480px;
  padding-left: 45px;
}
