body {
  background-color: #fdf4e3;
  font-family: "Bodoni Moda", serif;
}

h1 {
  font-size: 80px;
  margin-top: 80px;
  text-align: center;
}

hr {
  max-width: 900px;
}
.large-container {
  background-image: url(https://cdn.pixabay.com/photo/2014/11/13/17/04/heart-529607_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: block;
}
.container {
  width: 600px;
  height: 550px;
  background-color: white;
  margin: 150px auto;
  padding: 50px 30px;
  border-radius: 30px;
  box-shadow: 0px 8px 8px 8px rgb(140, 146, 172, 0.1);
}

form {
  background-color: #fdf4e3;
  padding: 40px 11px;
  border-radius: 10px;
  border-left: solid #ffb85d 3px;
}

input {
  padding: 10px;
}

label {
  font-size: 18px;
  padding-left: 6px;
}
.entry {
  width: 440px;
  border: none;
  border-radius: 10px;
}

.search {
  border: none;
  border-radius: 10px;
  color: black;
  width: 103px;
  font-family: "Calligraffitti", cursive;
  font-size: 15px;
}

.message {
  padding-top: 20px;
  text-align: center;
}
blockquote {
  line-height: 2;
  padding-top: 30px;
}
footer {
  text-align: center;
  color: #7f7f7f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
